NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
# You can get the Wallet Connect Project ID from: https://dashboard.reown.com/
NEXT_PUBLIC_LIGHTHOUSE_API_KEY=
# You can get the Lighthouse API Key from: https://files.lighthouse.storage/dashboard/apikey